<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Banker's blog</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
	<!-- <link href="css/blog-home.css" rel="stylesheet"> -->
    
	<link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Banker's blog
                    <small>MGL</small>
                </h1>
				{% if number_of_blogs %}
					<p>You searched for: <strong>{{ squery }}</strong></p>
					Found {{ blogs|length }} blog{{ blogs|pluralize }}.
				{% endif %}
				
				{% for bl in blog %}                
				
				<h2>
                    <a href="#">{{ bl.blog_title }}</a>
                </h2>
                <p class="lead"> by Admin  </p>
                <p><span class="glyphicon glyphicon-time"></span> {{ bl.blog_date }} </p>
                <hr>
                <img class="img-responsive" src="{{ bl.blog_pic.url }}" alt="">
                <hr>
                <p>{{ bl.blog_short }}</p>
				<p>{{ bl.blog_content }}</p>

				{% endfor %}   


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
						<form action="" method="get">
							<input type="text" name="squery">
							<input type="submit" value="Search">
						</form>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="/blog/?cat=4">My UB</a>
                                </li>
                                <li><a href="/blog/?cat=5">Travel</a>
                                </li>
                                <li><a href="/blog/?cat=3">Life</a>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="/blog/?cat=1">Economy</a>
                                </li>
                                <li><a href="/blog/?cat=2">Society</a>
                                </li>
                                <li><a href="/blog/?cat=6">Politics</a>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Gross Domestic Product 1.4 (%)</h4>
                    <p>In the first half of 2016, compared to the same period of previous year.</p>
                </div>
				<div class="well">
                    <h4>Inflation Rate 0.9 (%)</h4>
                    <p>in July 2016, compared to the same period of previous year.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Banker.mn 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    
	<!-- <script src="js/jquery.js"></script> -->
	<script src="{% static 'blog/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
	<!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

</body>

</html>
